.bottom {
  background: #F5F5F5;
  padding: 20px;
  border-top: 1px solid #ccc;

  .send-message {
    position: relative;

    input {
      background: #ffffff;
      padding: 15px 30px;
      border-radius: 20px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      vertical-align: top;
      width: 100%;
      outline: none;

      &:focus {
        border-color: #8CBBD4;
      }
    }

    .faSearch {
      color: #3C4252;
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;

      &:hover {
        color: #8CBBD4;
      }
    }
  }
}
