<div *ngIf="user" class="contact">
  <div class="left-side">
    <div>
      <img alt="image" src="{{user.avatar}}">
      <fa-icon [icon]="faCheckCircle" class="faCheck"></fa-icon>
    </div>
    <div class="text">
      <span class="name">{{user.name}}</span>
      <p *ngIf="user.messages?.length"
         class="message">
        {{ (getLastMessage()?.length > 23) ? (getLastMessage() | slice:0:23) + '...' : (getLastMessage()) }}
      </p>
    </div>
  </div>
  <div>
    <p class="date">{{ currentDate | date:'MMM d, y' }}</p>
  </div>
</div>
