.contact {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding: 20px 10px;
  &:hover{
    background: #EFF0F1;
    cursor: pointer;
  }
  .faCheck {
    color: green;
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 50px;
  }
  .faTimes{
    color: red;
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 50px;
  }
  .left-side {
    display: flex;
    justify-content: space-between;
    img {
      height: 40px;
      width: 40px;
    }
  }
  .text {
    padding-left: 10px;
    .message {
      margin: 0;
      color: #cccccc;
    }
  }
  .date {
    margin: 0;
  }
}
