.right {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .top {
    background: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
  }

  img {
    height: 40px;
    width: 40px;
  }

  .faCheck {
    color: green;
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 40px;
  }

  .name {
    font-size: 20px;
    padding-left: 10px;
  }

  .window {

    .user-1 {
      display: flex;
      justify-content: flex-start;
      padding: 10px 20px;

      .faUser {
        margin-right: 10px;
      }

      .message {
        margin: 0;
        background: #3C4252;
        color: #ffffff;
        padding: 8px;
        border-radius: 20px;
      }

      .date {
        margin: 10px 0;
        color: #ccc;
      }
    }

    .user-2 {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      padding: 10px 20px;

      .message {
        margin: 0;
        background: #E0E0E0;
        color: #3C4252;
        padding: 8px;
        border-radius: 20px;
      }

      .date {
        margin: 10px 0;
        color: #ccc;
      }
    }
  }

  .bottom {
    background: #F5F5F5;
    padding: 20px;
    border-top: 1px solid #ccc;

    .send-message {
      position: relative;

      input {
        background: #ffffff;
        padding: 15px 30px;
        border-radius: 20px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        vertical-align: top;
        width: 100%;
        outline: none;

        &:focus {
          border-color: #8CBBD4;
        }
      }

      .faSearch {
        color: #3C4252;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
        &:hover {
          color: #8CBBD4;
        }
      }


    }
  }
}
