<div class="left">
  <div class="top">
    <div class="user">
      <fa-icon [icon]="faUserCircle" class="faUser"></fa-icon>
      <fa-icon [icon]="faCheckCircle" class="faCheck"></fa-icon>
    </div>
    <div class="search">
      <fa-icon [icon]="faSearch" class="faSearch"></fa-icon>
      <input name="search" placeholder="Search or start new chat" type="text">
    </div>
  </div>
  <h1>Chats</h1>
  <div class="chats">
    <app-sidebar-user-item *ngFor="let user of users" [user]="user" (click)="onClick(user)"></app-sidebar-user-item>
  </div>
</div>
