.left {
  border-right: 1px solid #cccccc;
  .top {
    background: #F5F5F5;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    .user {
      position: relative;
      margin-bottom: 5px;
      .faUser {
        color: #777E86;
        font-size: 25px;
      }
      .faCheck {
        color: green;
        font-size: 10px;
        position: absolute;
        left: 17px;
        top: 17px;
      }
    }
  }
  h1 {
    font-size: 20px;
    color: #8CBBD4;
    padding: 20px 10px;
    font-weight: 300;
    background: #fff;
  }
  .chats {
    overflow: auto;
    height: calc(100vh - 164px);
    background: #fff;
  }
}
