<div class="window">
  <div class="user-1">
    <div>
      <img alt="image" src="/assets/avatar/2.png">
    </div>
    <div>
      <p class="message">Quisque quis aliquet ipsum, vel ullamcorper ante.</p>
      <p class="date">4/22/20, 4:00 AM</p>
    </div>
  </div>
  <div class="user-2">
    <div>
      <p class="message">Duis tellus odio, varius sit amet pretium at, vestibulum vel odio.</p>
      <p class="date">4/22/20, 4:21 AM</p>
    </div>
  </div>
  <div class="user-1">
    <div>
      <img alt="image" src="/assets/avatar/2.png">
    </div>
    <div>
      <p class="message">Quisque quis aliquet ipsum, vel ullamcorper ante.</p>
      <p class="date">4/22/20, 4:35 AM</p>
    </div>
  </div>
</div>
